# Dependencias
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos temporales
tmp/
temp/

# Carpetas de build
dist/
build/

# Configuración de editores
.vscode/
.idea/

# Coverage de tests
coverage/